h1, h2, h3 {
  color: $dark;
  font-family: 'Playfair Display SC', serif;
  font-weight: normal;
  padding: 0 10px;
}

p {
  padding: 0 10px;
}

.page {
  .content {
    background: $light;
    @include opacity(.8);
  }
  .summary {
    #map {
      border: 2px solid white;
      @include opacity(.9);
      margin-top: 0px;
      width: 300px;
      height: 250px;
      float: right;
      h3, p {
        position: relative;
        z-index: 1; 
        margin: 0;
      }
      h3 {
        margin-top: 10px;
      }
    }
  }
}