h1, h2, h3 {
  color: $dark;
  font-family: 'Playfair Display SC', serif;
  font-weight: normal;
  padding: 0 10px;
}

p {
  padding: 0 10px;
}

.page {
  #map {
    border: 2px solid white;
    margin-top: 50px;
    @include opacity(.9);
    @include single-box-shadow;
    height: 310px;
    h3, p {
      position: relative;
      z-index: 1; 
      margin: 0;
    }
    h3 {
      margin-top: 10px;
    }
  }
  .content {
    background: $light;
    @include opacity(.9);
  }
  .summary {
    
  }
}