h1, h2, h3 {
  color: $dark;
  font-family: 'Playfair Display SC', serif;
  font-weight: normal;
  padding: 0 20px;
}

p {
  padding: 0 20px;
}

ul, ol {
  padding: 0 20px 0 40px;
}

.page {
  
  #map {
    border: 2px solid white;
    margin-top: 50px;
    @include opacity(.9);
    @include single-box-shadow;
    height: 310px;
    h3, p {
      position: relative;
      z-index: 1; 
      margin: 0;
    }
    h3 {
      margin-top: 10px;
    }
  }
  .content {
    background: $light;
    margin-bottom: 20px;
    img {
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 94%;
    }
    .photo {
      text-align: center;
      font-size: 80%;
      /*font-weight: bold;*/
      color: #111;
    }
  }
  .summary {
    background: $light;
  @include opacity(.9);
  
  }
}

body.index {
  .page {
    background: none;
  }
}