@include at-breakpoint($tablet) {
  .inner { 
    /*@include susy-grid-background;*/
    @include container($tablet); 
  }
  .page {
    /*@include susy-grid-background;*/
    #mapwrapper {
      @include span-columns(6, $tablet);
      @include prefix(1, $tablet);
    }
    .nav {
      @include with-grid-settings(8,5em,1em,1em) {
        .container { 
          /*@include susy-grid-background;*/
          @include container;
          #toggle:checked ~ nav #nav, #nav { 
            list-style-type: none;
            padding: 0;
            top: 2em;
            right: 2%;
            left: 35px;
            @include box-shadow(0 0 0 0);
          }
        }
      }
    }
  }
}

@include at-breakpoint($desktop) {
  
  .inner { 
    /*@include susy-grid-background;*/
    @include container($desktop); 
  }
  .page {
    /*@include susy-grid-background;*/
    .btn {
      display: none;
    }
    #mapwrapper {
      @include span-columns(6, $desktop);
      @include prefix(3, $desktop);
    }
    .nav {
      @include with-grid-settings(12,5em,1em,1em) {
        .container { 
          /*@include susy-grid-background;*/
          @include container;
          #nav { 
            #close { 
              display: none;
            }
            li {
              display: inline;
              float: left;
              &.selected {
                font-weight: bold;
              }
              a {
                line-height: 1em;
                height: 2em;
                display: inline;
                float: right;
                background: transparent;
                padding: 0 .7em;
                border-bottom: 0;
              }
            }
          }
        }
      }
    }
    .content {
      /*@include susy-grid-background;*/
      @include span-columns(8, $desktop);
      
    }
    .summary { 
      @include span-columns(4 omega, $desktop);
      h3, p {
        padding: 0 10px;
      } 
    }
  }  
}