// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font: 100%;
  padding: 1em 20%;
}

@import 'compass_includes';


.simple   { @include border-radius(6px, 6px); background: red; padding: 10px}

h1 {
  color:red;
}

ul {
  padding:0;
  margin:0;

  li {
    padding-left:20px;
    color:green;
  }

}

