@import "susy";

$total-columns  : 4;
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

$tablet: 8;
$desktop: 12;

/*Container*/

.page { 
  @include container ($total-columns, $tablet, $desktop);
}

/*End Container*/
  
/*Layout*/



/*End Layout*/




