@import 'compass_includes';

h1 {
  color: purple;
}

.banner {
  background: green;
}

.pagenav {
  background: red;
}

.main {
  background: yellow;
}

.content {
  background: pink;
}

.summary {
  background: purple;
}

.contentinfo {
  background: red;
}

img, object, embed, iframe, .iframe {
    display: block;
    height: auto;
    max-width: 100%;
    border: 0;
}

@media \0screen {
  img { 
    width: auto; /* for ie 8 */
  }
}