@import 'compass_includes';

h1 {
  color: purple;
}

.banner {
  background: green;
}

.pagenav {
  background: red;
}

.main {
  background: yellow;
}

.content {
  background: pink;
}

.summary {
  background: purple;
}

.contentinfo {
  background: red;
}