<div class="menu-button">
  Menu
  <span class="touch-button">
    <i class="navicon">▼</i>
  </span>
</div>

<nav class="pagenav">
  <ul class="flexnav" data-breakpoint="800">
    <li><a href="#">Tokyo</a></li>
    <li><a href="#">Nikko</a></li>
    <li><a href="#">Matsumoto</a></li>
    <li><a href="#">Takayama</a></li>
    <li><a href="#">Kyoto</a></li>
    <li><a href="#">Nara</a></li>
    <li><a href="#">Osaka</a></li>
    <li><a href="#">Mt. Koya</a></li>
    <li><a href="#">Hiroshima</a></li>
    <li><a href="#">Miyajima Island</a></li>
  </ul>
</nav>