<nav class="pagenav">
  <ul>
    <li><a href="#demo-settings">Tokyo</a></li>
    <li><a href="#demo-mobile">Nara</a></li>
    <li><a href="#demo-mobile">Takayama</a></li>
    <li><a href="#demo-mobile">Nikko</a></li>
    <li><a href="#demo-mobile">Kyoto</a></li>
  </ul>
</nav>