---
title: Welcome to Two Weeks in Japan
---

<div class="welcome">
  <h1>This is the story of how we did it</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
    <div class="hisrc">
      <img src="/images/fushimi_inari/fushimi_inari.jpg" width="400" height="342"
             data-1x="/images/fushimi_inari/fushimi_inari-1x.jpg"
             data-2x="/images/fushimi_inari/fushimi_inari-2x.jpg"
             alt="Fushimi Inari Shrine" />
  </div>
  </p><!-- .doc -->
</div><!-- .welcome -->