---
title: Welcome to Two Weeks in Japan
---


<article class="article">
  <div class="content">
    <!--<div class="hisrc">
      <img src="/images/fushimi_inari/fushimi_inari.jpg" width="400" height="342" data-1x="/images/fushimi_inari/fushimi_inari-1x.jpg" data-2x="/images/fushimi_inari/fushimi_inari-2x.jpg" alt="Fushimi Inari Shrine" />
    </div> -->
  </div>
  <div class="summary">
    <div id="map" style="position: relative">
      <h3>
        Our Journey
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quo minus.</p>
    </div>
  </div>
</article>
