---
title: Welcome to Two Weeks in Japan
---


<!-- <article class="article"> -->
<div id="mapwrapper">
  <div id="map">
    <div style="width: 220px;">
      <h3>A Trip to Japan.</h3>
      <p>One couple. One Vegetarian. No Japanese. <span style="font-weight: normal">Our Story.</span> </p>
    </div>
  </div>
</div>

  <!-- <div class="content"> -->
    

    
    <!--<div class="hisrc">
      <img src="/images/fushimi_inari/fushimi_inari.jpg" width="400" height="342" data-1x="/images/fushimi_inari/fushimi_inari-1x.jpg" data-2x="/images/fushimi_inari/fushimi_inari-2x.jpg" alt="Fushimi Inari Shrine" />
    </div> -->
  <!-- </div> -->
  <!-- <div class="summary">
    <div id="vimage"><img src="/stylesheets/images/v_and_r.jpg" /></div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum velit tempora itaque laborum dignissimos voluptate ex magni quas facilis quam voluptatem sed veritatis soluta aperiam quaerat odit dicta adipisci. Numquam!
  </div> -->
<!-- </article> -->
