---
title: Welcome to Two Weeks in Japan
---



<div class="welcome">

 <div id="map"></div>

    
  <!-- <h1>This is the story of how we did it</h1> -->
  <p class="doc">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate voluptatibus repellat ipsum dicta earum perspiciatis quod adipisci commodi. Ea molestias harum porro quo incidunt voluptatibus sunt accusantium nesciunt maxime iure.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus beatae vero eum nobis sapiente sit laborum quas harum ullam obcaecati tenetur illo in maiores quo voluptatum pariatur repudiandae voluptatem alias!
   <!--  <iframe width='500' height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/rkalicun.Japan.html#6/35.8/138.186'></iframe> -->
    <!--<div class="hisrc">
      <img src="/images/fushimi_inari/fushimi_inari.jpg" width="400" height="342" data-1x="/images/fushimi_inari/fushimi_inari-1x.jpg" data-2x="/images/fushimi_inari/fushimi_inari-2x.jpg" alt="Fushimi Inari Shrine" />
    </div> -->
  </p><!-- .doc -->
</div><!-- .welcome -->
<script type="text/javascript" src="/javascripts/maps.js"></script>