---
title: Welcome to Two Weeks in Japan
---
<div id="map" style="position: relative">
  <h3 style="position: absolute;z-index: 2; text-align: right;top:0">
    Our Journey
  </h3>
  <p style="position: absolute;z-index: 1;color: #000; width: 250px;top:30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique quo minus.</b></p>
</div>

<article class="article">

 

    
  
  <div class="content">

    <!-- <h2>Two Weeks in Japan</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate voluptatibus repellat ipsum dicta earum perspiciatis quod adipisci commodi. Ea molestias harum porro quo incidunt voluptatibus sunt accusantium nesciunt maxime iure.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus beatae vero eum nobis sapiente sit laborum quas harum ullam obcaecati tenetur illo in maiores quo voluptatum pariatur repudiandae voluptatem alias!</p> -->
   <!--  <iframe width='500' height='300' frameBorder='0' src='http://a.tiles.mapbox.com/v3/rkalicun.Japan.html#6/35.8/138.186'></iframe> -->
    <!--<div class="hisrc">
      <img src="/images/fushimi_inari/fushimi_inari.jpg" width="400" height="342" data-1x="/images/fushimi_inari/fushimi_inari-1x.jpg" data-2x="/images/fushimi_inari/fushimi_inari-2x.jpg" alt="Fushimi Inari Shrine" />
    </div> -->
  </div><!-- .doc -->

<div class="summary">
  
  </div>
</article>
